<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Haystack.TV - Video Analysis {% if title %}{{ title }}{% endif %}</title>
    {% block css %}{% endblock %}
    {% block js %}{% endblock %}
</head>
<body {% block body_attrs %}{% endblock %}>
    {% block body %}{% endblock %}
</body>
</html>