{% extends "base.html" %}

{% load static %}

{% block js %}
    <script src="{% static 'js/flot/jquery.min.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.axislabels.js' %}"></script>
    <script src="{% static 'js/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'js/jquery.float_thead.min.js' %}"></script>
    <script>
        $(document).ready(function(){
           $('table.floating').floatThead();
        });
    </script>
{% endblock %}

{% block css %}
    <style>
        th {
            background-color: white;
        }
        td {
            align: center;
        }
    </style>
{% endblock %}

{% block body %}
    <div>
    Percentages of silence detected (total, start, end)
    {{ chart_perc.as_html }}
    </div>

    <table class="floating">
        <thead>
            <tr>
                <th>Count</th>
                <th>DB Id</th>
                <th>Video Id</th>
                <th>Duration</th>
                <th>Silences</th>
                <th>Remove</th>
                <th>Quality</th>
                <th>Content</th>
                <th>Specific</th>
                <th>Voice</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        {% for v in videos %}
            <tr>
                <td>{{ forloop.counter0 }}</td>
                <td>{{ v.id }}</td>
{#                <td>{% url 'video' v.video_id %}</td>#}
                <td><a href="{% url 'video_notes' v.id %}">{{ v.video_id }}</a></td>
                <td>{{ v.duration }}</td>
                <td>{{ v.totals_per_level }}</td>
                <td><p>{% if v.remove %}&#10008;{% endif %}<p></td>
                <td><p>{% if v.bad_quality %}&#10008;{% endif %}<p></td>
                <td><p>{% if v.inadequate_content %}&#10008;{% endif %}<p></td>
                <td><p>{% if v.specific_content %}&#10008;{% endif %}<p></td>
                <td><p>{% if v.inadequate_to_listen %}&#10008;{% endif %}<p></td>
                <td>{% if v.notes %}{{ v.notes }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
