{% extends "base.html" %}

{% load static %}

{% block body %}
    <h1>Lists of Videos for Manual Classification</h1>
    {% for username, token in tokens.items %}
    <p><b>{{ username }}</b>: <a href="{% url 'videos' username %}?token={{ token }}"/>video list</a></p>
    {% endfor %}
{% endblock %}