{% extends "base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block body %}

    <h1>Classification Stats</h1>
    <div>
        <div class="table-wrapper" style="float: left; margin: 20px">
            <table class="simple-grey floating">
                <thead>
                    <tr>
                        <th># Classification</th>
                        <th># Videos</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                {% for c, v in classifications.items %}
                    <tr>
                        <td>{{ c }}</td>
                        <td>{{ v }}</td>
                        <td>{% widthratio v total 100 %}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="table-wrapper" style="float: left; margin: 20px">
            <table class="simple-grey floating">
                <thead>
                    <tr>
                        <th>User</th>
                        <th># Videos</th>
                        <th>Percentage (wrt Videos Classified)</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                {% for c, v in users.items %}
                    <tr>
                        <td>{{ c }}</td>
                        <td>{{ v }}</td>
                        <td>{% widthratio v total_classified 100 %}%</td>
                        <td>{% widthratio v total 100 %}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div style="clear: both"></div>
    <div>
        <div class="table-wrapper" style="margin: 20px">
            <table class="simple-grey floating">
                <thead>
                    <tr>
                        <th>Category Name</th>
                        <th>Category Type</th>
                        <th># Videos</th>
                        <th>Percentage (wrt Videos Classified)</th>
                        <th>Percentage</th>
                    </tr>
                </thead>
                <tbody>
                {% for c in categories %}
                    <tr>
                        <td><a href="{% url 'videos_by_category' c.id %}">{{ c.name }}</a></td>
                        <td>{{ c.group }}</td>
                        <td>{{ c.cnt }}</td>
                        <td>{% widthratio c.cnt total_classified 100 %}%</td>
                        <td>{% widthratio c.cnt total 100 %}%</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div>
        <h3>Mismatches</h3>
        <div>
{#            <p>Table/Chart with number of video vs number of disagreements between all responders.</p>#}
{#            <p>Per category - type: for value if only one of it use it add 1</p>#}
            <div class="table-wrapper" style="margin: 20px">
                <table class="simple-grey floating">
                    <thead>
                        <tr>
                            <th>Category Type</th>
                            <th>Category Name</th>
                            <th># Disagreements</th>
                            <th>Total with category</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for c in categories %}
                        <tr>
                            <td>{{ c.group }}</td>
                            <td><a href="{% url 'videos_by_category' c.id %}">{{ c.name }}</a></td>
                            <td>{{ c.disagreements }}</td>
                            <td>{{ c.total_disagreements }}</td>
                        </tr>
                    {% endfor %}
                        <tr>
                            <th colspan="2">Total Videos Classified by At Least 2 users</th>
                            <td>{{ total_2_or_more }}</td>
                            <td>{{ total_2_or_more }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
{#        <div>#}
{#            <p>From disagreements: Lean-back: 0, 1, 2 <-> Lean forward: 0, 1, 2</p>#}
{#        </div>#}
    </div>
{#    <div>#}
{#        <h3>VAD vs LEAN-BACK</h3>#}
{#        <div>#}
{#            Chart/Table with voice analysis for first n seconds for LEAN-BACK videos#}
{#        </div>#}
{#        <div>#}
{#            Chart/Table with voice analysis for first n seconds for NON LEAN-BACK videos#}
{#        </div>#}
{#    </div>#}
{% endblock %}