{% extends ajax|yesno:"ajax.html,base.html" %}

{% load static %}

{% if not ajax %}
    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
    {% endblock %}

    {% block js %}
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/table-scroll.js' %}"></script>
        <script>
            $(document).ready(function(){
    //            $(window).bind('beforeunload', function(e) {});
                $('#notes_form_save').on('click', function(event) {
    //                event.preventDefault();

                    var csrftoken = $.cookie('csrftoken');
                    $.ajax({
                        beforeSend: function(xhr, settings) {
                            if (!(/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type)) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        },

                        url: {% if classification %} "{% url 'video' video.id %}" {% else %} "{% url 'video_notes' video.id %}" {% endif %},
                        type: 'POST',
                        data: $('#notes_form').serialize(),
                        success: function(data){
                            console.log("SUCCESS");
                            $('#notes_form_results').html("<div class='alert-success' data-alert>Notes saved</div>");
                        },
                        error: function(xhr, msg, err) {
                            console.log("FAILURE");
                            $('#notes_form_results').html("<div class='alert-error' data-alert>Error saving notes: "
                                    + msg + "</div>");
                        }

                    })
                });
            });
        </script>
    {% endblock %}

    {% block body_attrs %}
        onbeforeunload=""
    {% endblock %}
{% endif %}

{% block body %}
    {% if not ajax %}
    <h1>Video Detail</h1>
    {% endif %}

    <div style="{% if not ajax %}float:left; {% endif %}margin: 20px;">
    <div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ video.video_id }}" frameborder="0" allowfullscreen></iframe>
    </div>
    <div>
        <p><b>Video ID:</b> {{ video.video_id }}</p>
        <p><b>Duration:</b> {{ video.duration }} sec</p>
        {% if video.silences_selected %}
        <p><b>Periods of silence/low volume detected:</b></p>
        <p>
            <ul>
                <li>
                {{ video.silences_selected|join:"</li><li> " }}
                </li>
            </ul>
        </p>
        {% else %}
        <p><b>No periods of silence/low volume detected.</b></p>
        {% endif %}
        <!--{% for s in video.silences_by_level %}-->
            <!--<p><b>Noise Tolerance {{ s.level }}dB: (#{{ s.count }}) </b>{{ s.silences }}</p>-->
        <!--{% endfor %}-->
    </div>
    </div>
    <div style="{% if not ajax %}float:left; {% endif %}margin: 20px;">
        <!--<form id="notes_form" action="{% url 'video' video.id %}" method="post">-->
        <form id="notes_form" class="basic-grey">
            {% csrf_token %}
            {{ form }}
            <br/>
            <input id="notes_form_save" video-id="{{video.id}}" video-url="{% url 'video' video.id %}" type="button" value="Save" />
        </form>
        <div id="notes_form_results"></div>
    </div>
    {% if not ajax %}
    <div style="clear: both"></div>
    {% endif %}
{% endblock %}
