{% extends request.is_ajax|yesno:"ajax.html,base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">
{% endblock %}

{% block js %}
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/jquery.float_thead.min.js' %}"></script>
    <script>
        $(document).ready(function(){
           $('table.floating').floatThead({
               scrollContainer: function ($table) {
                   return $table.closest('.table-wrapper');
               }
           });
        });
    </script>
    <script src="{% static 'js/jquery.cookie.js' %}"></script>
    <script>
        var currentVideoId = null;
        $(document).ready(function(){
//            $(window).bind('beforeunload', function(e) {});
            var install_save_notes = function() {
                $('#notes_form_save').on('click', function(event){
    //                event.preventDefault();
                    var videoUrl = $(this).attr('video-url');
                    var videoId = $(this).attr('video-id');
                    var csrftoken = $.cookie('csrftoken');

                    var args = {categories: [], comment: ""};
                    $("#notes_form").serializeArray().map(function (x) {
                        if (x.name.indexOf("categories") == 0) {
                            args["categories"].push($("input[value="+x.value+"]").parent().text().trim());
                        } else
                            args[x.name] = x.value;
                    });
                    $.ajax({
                        beforeSend: function (xhr, settings) {
                            if (!(/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type)) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        },
                        url: videoUrl,
                        type: 'POST',
                        data: $('#notes_form').serialize() + "&username={{ username }}",
                        success: function (data) {
                            if (data.result) {
                                $('#notes_form_results').html("<div class='alert-success' data-alert>Notes saved</div>");
                                console.log(args);
                                if (args["categories"].length > 0) {
                                    $('.video-' + videoId).addClass('done');
                                }
                                $('.video-' + videoId + ' td.categories').html(args["categories"].join("<br/>"));
                                $('.video-' + videoId + ' td.comment').text(args["comment"]);
                            } else {
                                $('#notes_form_results').html("<div class='alert-error' data-alert>Error saving notes: " + data.msg + "</div>");
                            }
                        },
                        error: function (xhr, msg, err) {
                            console.log("FAILURE: ", xhr, msg, err);
                            $('#notes_form_results').html("<div class='alert-error' data-alert>Error saving notes: "
                                    + msg + "</div>");
                        }
                    });
                });
            };

            install_save_notes();

            $(".link-video-ajax").click(function(event){
                event.preventDefault();
                var href = $(this).attr('href');
                console.log("Clicked ", $(this), href);
                $.ajax({
                    url: href,
                    type: 'GET',
                    success: function(data){
                        console.log("SUCCESS");
                        $('#video-container').html(data);
                        install_save_notes();
                    },
                    error: function(xhr, msg, err) {
                        console.log("FAILURE");
                        $('#video-container').html("<div class='alert-error' data-alert>Unable to load video details: "
                                + msg + "</div>");
                    }

                })
            });
        });
    </script>
{% endblock %}

{% block body %}

    <h1>Video List - {{ username }}</h1>
    <h4><a href="https://sites.google.com/a/haystack.tv/haystack-tv-intranet/engineering-docs/video-and-adio-analysis/video-taxonomy" target="_blank">Taxonomy reference</a></h4>
    <div style="margin:20px; float: left; height: 100%;">
        <div class="table-wrapper" style="overflow-y: auto; overflow-x: hidden; width: 50vw; height: 80vh;">
            <table class="simple-grey floating">
                <thead>
                    <tr>
                        <th>Count</th>
                        <!--<th>DB Id</th>-->
                        <!--<th>Link</th>-->
                        <th>Link local</th>
                        <th>Duration</th>
{#                        <th>#</th>#}
                        <th>Categories</th>
                        <th style="width: 300px">Comment</th>
                    </tr>
                </thead>
                <tbody>
                {% for v in videos %}
                    <tr class="video-{{ v.id }}{% if v.categories.all %} done{% endif %}">
                        <td>{{ forloop.counter0 }}</td>
                        <!--<td>{{ v.id }}</td>-->
                        <!--<td><a href="{% url 'video' v.id %}">{{ v.video_id }}</a></td>-->
                        <td><a class="link-video-ajax" href="{% url 'video' v.id %}?username={{ username }}">{{ v.video_id }}</a></td>
                        <td>{{ v.duration }}s</td>
{#                        <td>{{ v.silence_count }}</td>#}
                        <td class="categories">{% if v.categories.all %}{{ v.categories.all|join:"<br/>" }}{% else %}&nbsp;{% endif %}</td>
                        <td class="comment">{% if v.comment %}{{ v.comment }}{% else %}&nbsp;{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{#    <div style="float: left; margin: 20px; height: 80vh; overflow-y: auto" id="video-container">#}
    <div style="float: left; margin: 20px; width: 40vw;" id="video-container">
        &nbsp;
    </div>
{% endblock %}