{% extends request.is_ajax|yesno:"ajax.html,base.html" %}

{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/table.css' %}">
{% endblock %}

{%  block body %}
        <div class="table-wrapper">
            <table class="simple-grey floating">
                <thead>
                    <tr>
                        <th>Video</th>
                        <th>Link local</th>
                        <th>Duration</th>
                        <th>Categories</th>
                        <th>User</th>
                        <th>Categories By user</th>
                        <th>Comment</th>
                    </tr>
                </thead>
                <tbody>
                {% for v in videos %}
                    <tr class="video-{{ v.id }}{% if v.categories.all %} done{% endif %}">
                        <td rowspan="{{ v.number_of_users }}">{{ forloop.counter0 }}</td>
                        <td rowspan="{{ v.number_of_users }}"><a class="link-video-ajax" href="https://www.youtube.com/watch?v={{ v.video_id }}">{{ v.video_id }}</a></td>
                        <td rowspan="{{ v.number_of_users }}">{{ v.duration }}s</td>
                        <td rowspan="{{ v.number_of_users }}" class="categories">{% if v.categories %}{{ v.categories|join:"<br/>" }}{% else %}&nbsp;{% endif %}</td>

                        <td class="user">{{ v.first_user.username }}</td>
                        <td class="labels">{% if v.first_user.categories %}{{ v.first_user.categories|join:"<br/>" }}{% else %}&nbsp;{% endif %}</td>
                        <td class="comment">{% if v.first_user.comment %}{{ v.first_user.comment }}}{% else %}&nbsp;{% endif %}</td>
                    </tr>
                    {% for user in v.other_users %}
                        <tr class="video-{{ v.id }}{% if v.categories.all %} done{% endif %}">
                            <td class="user">{{ user.username }}</td>
                            <td class="labels">{% if user.categories %}{{ user.categories|join:"<br/>" }}{% else %}&nbsp;{% endif %}</td>
                            <td class="comment">{% if user.comment %}{{ user.comment }}{% else %}&nbsp;{% endif %}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                </tbody>
            </table>
        </div>

{% endblock %}