table.simple-grey, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
table.simple-grey {
    border-spacing: 0;
} /* IMPORTANT, I REMOVED border-collapse: collapse; FROM THIS LINE IN ORDER TO MAKE THE OUTER BORDER RADIUS WORK */

/*
Table Style - This is what you want
------------------------------------------------------------------ */
table.simple-grey a:link {
	color: #666;
	font-weight: bold;
	text-decoration:none;
}
table.simple-grey a:visited {
	color: #999999;
	font-weight:bold;
	text-decoration:none;
}
table.simple-grey a:active,
table.simple-grey a:hover {
	color: #bd5a35;
	text-decoration:underline;
}
table.simple-grey {
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	font-size:12px;
	text-shadow: 1px 1px 0 #fff;
	background:#eaebec;
	border:#ccc 1px solid;

	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;

	-moz-box-shadow: 0 1px 2px #d1d1d1;
	-webkit-box-shadow: 0 1px 2px #d1d1d1;
	box-shadow: 0 1px 2px #d1d1d1;
}
table.simple-grey th {
	padding:21px 25px 22px 25px;
	border-top:1px solid #fafafa;
	border-bottom:1px solid #e0e0e0;

	background-color: #ededed;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));*/
	/*background: -moz-linear-gradient(top,  #ededed,  #ebebeb);*/
}
table.simple-grey th:first-child{
	text-align: left;
	padding-left:20px;
}
table.simple-grey tr:first-child th:first-child{
	-moz-border-radius-topleft:3px;
	-webkit-border-top-left-radius:3px;
	border-top-left-radius:3px;
}
table.simple-grey tr:first-child th:last-child{
	-moz-border-radius-topright:3px;
	-webkit-border-top-right-radius:3px;
	border-top-right-radius:3px;
}
table.simple-grey tr{
	text-align: center;
	padding-left:20px;
}
table.simple-grey tr td:first-child{
	text-align: left;
	padding-left:20px;
	border-left: 0;
}
table.simple-grey tr td {
	padding:18px;
	border-top: 1px solid #ffffff;
	border-bottom:1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;

	background-color: #fafafa;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));*/
	/*background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);*/
}
table.simple-grey tr.even td{
	background-color: #f6f6f6;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));*/
	/*background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);*/
}
table.simple-grey tr:last-child td{
	border-bottom:0;
}
table.simple-grey tr:last-child td:first-child{
	-moz-border-radius-bottomleft:3px;
	-webkit-border-bottom-left-radius:3px;
	border-bottom-left-radius:3px;
}
table.simple-grey tr:last-child td:last-child{
	-moz-border-radius-bottomright:3px;
	-webkit-border-bottom-right-radius:3px;
	border-bottom-right-radius:3px;
}
table.simple-grey tr:hover td{
	background-color: #f2f2f2;
	/*background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));*/
	/*background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);*/
}

table.simple-grey tr.done td
{
    /*border-bottom: 1px solid #5bd55b;*/
    /*border-top: 1px solid #5bd55b;*/
    background-color: #D7FFD6;
}
